body {
  background-color: white;
  color: black;
}
body > header:hover {
  background-color: black;
  opacity: 0.8;
}
body > header {
  color: white;
}

body > header > nav > a:nth-child(1):hover,
body > header > nav > a:nth-child(2):hover,
body > header > nav > a:nth-child(3):hover,
body > header > nav > a:nth-child(4):hover {
  color: black;
  background: linear-gradient(
    90deg,
    purple 10%,
    blue 20%,
    green 30%,
    yellow 40%,
    orange 50%,
    red 60%
  );
}
#intro {
  background-image: url("../img/urban.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: sticky;
  color: white;
}

#intro > h1 > span {
  text-shadow: 10px 10px 20px white;
  opacity: 0.5;
}

#intro > h1 > span:nth-child(1) {
  color: blue;
}
#intro > h1 > span:nth-child(2) {
  color: aquamarine;
}
#intro > h1 > span:nth-child(3) {
  color: cyan;
}
#intro > h1 > span:nth-child(4) {
  color: orange;
}
#intro > h1 > span:nth-child(5) {
  color: red;
}
#intro > p {
  text-shadow: 10px 10px 20px white;
  opacity: 0.7;
}
#team {
  background-color: black;
  color: white;
}
#team > div.photographer > a {
  color: white;
  border: solid 1px #313131;
  background-color: black;
}
#team > div.photographer > a:hover {
  border: solid 1px white;
}

#team > div.photographer:hover,
#team > div.photographer > figure > img:hover {
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      purple 10%,
      blue 20%,
      green 30%,
      yellow 40%,
      orange 50%,
      red 60%
    ),
    url("../img/willy-thomas.jpg");
  background-blend-mode: luminosity;
  background-size: contain;
}
nav a {
  color: white;
  border: thin 1px #313131;
  background-color: black;
}
nav a:hover {
  border: white;
}
#portraits > div.img-wrapper {
  background-image: url("../img/portrait.jpg");
  background-repeat: no-repeat;
  background-origin: left top;
  background-size: cover;
  position: sticky;
  background-color: white;
}

.button.button-white {
  background-color: white;
  color: black;
  border: solid 5px black;
}
.button.button-white:hover {
  background-color: black;
  color: white;
  border: solid 5px white;
}

#outdoor > div.img-wrapper {
  background-image: url("../img/outdoor.jpg");
  background-repeat: no-repeat;
  background-origin: right center;
  background-size: cover;
  position: sticky;
  background-color: white;
  width: 775px;
  height: 755px;
}

#outdoor > div.wrapper {
  background-color: black;
  color: white;
}

.button.button-black {
  background-color: black;
  color: white;
  border: solid 5px white;
}
.button.button-black:hover {
  background-color: white;
  color: black;
}

#contact > div.img-wrapper {
  background-image: url("../img/contact.jpg");
  background-repeat: no-repeat;
  background-origin: left center;
  background-size: cover;
  position: sticky;
  background-color: black;
}

#outdoor > div.wrapper {
  background-color: white;
  color: black;
}
#contact > div.wrapper > form > input {
  background-color: white;
  color: black;
  border: solid 5px black;
}
#name,
#email,
#tel,
#msg {
  border: thin 1px white;
  box-shadow: 0px 1px 1px 1px black inset;
}

body > footer {
  background: linear-gradient(
    90deg,
    purple 10%,
    blue 20%,
    green 30%,
    yellow 40%,
    orange 50%,
    red 60%
  );
  color: black;
}
